// Цвет фона нашего приложения
$bgColor: #EABE93;
// большой размер шрифта
$bigfontsize: 28px;
// Средний размер шрифта
$mebfontsize: 16px;
// маленький размер шрифта
$smallfontsize: 12px;
// Цвет заголовка
$colorTitle: #3C251A;
// Шрифт Monsserat
$FontMonserrat: "Montserrat";
//Шрифт Inconsolata
$FontInconsolata: "Inconsolata";
//Шрифт Oleo
$FontOleo: "Oleo Script Swash Caps";
// Основной цвет текста приложения
$textcolor: #222222;
//Размер заголовка секции
$sectionTitlesize: 24px;